In [10]:
import os
import csv
import pandas as pd
df = pd.DataFrame(columns=["name", "label", "frame_count"])
with open("../Data/ELAR/train_val_labels.csv") as label_file:
    reader = csv.reader(label_file)
    for row in reader:
        frame_file = os.path.join("../Data/ELAR/avi/", "train", row[0] + '_nframes')
        with open(frame_file) as nff:
            new_row = {"name": row[0], "label": row[1], "frame_count": int(nff.readline())}
            df.loc[len(df)] = new_row

In [11]:
#print(df.head(1))
df.label = df.label.astype(int)
df.groupby("label").size().sort_index()

label
0      64
1      61
2      94
3     277
4      54
5      63
6      53
7     177
8      81
9     191
10     95
11     63
12     91
13     43
14    110
15     85
16     91
17     88
18     76
19     54
20     73
21     68
22    106
23    229
24    100
25     83
26     70
27    168
28     68
dtype: int64

In [15]:
df.name = df.name.str[:4]
df.groupby('name').size().sort_index()

name
AAM1    49
AAM2    36
AAPB    94
AASB    44
ACAA    28
        ..
SSNA    36
SSSB    20
STBA    14
STCA    56
STMB    46
Length: 86, dtype: int64

In [4]:
print(df.describe())
print(df['frame_count'].median())
print(df.head(5))

       frame_count
count  2876.000000
mean     12.390473
std       8.877573
min       1.000000
25%       7.000000
50%      10.000000
75%      16.000000
max      99.000000
10.0
                   name label  frame_count
0    SMGB1C2a55700_Wolf    27           10
1  STCA1c2b32538_Rabbit    15            7
2      MGCA1c2b3345_Say    18            6
3    ADPA1c2a3430_Sheep    19            8
4   BGMQB1c2a87150_Come     4           10

In [2]:
import json
import numpy as np
kps = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
x = kps[0::3]
y = kps[1::3]
stack = np.stack((x, y), axis=1)

print(x)
print(y)
print(stack)

[0, 3, 6, 9, 12, 15, 18]
[1, 4, 7, 10, 13, 16, 19]
[[ 0  1]
 [ 3  4]
 [ 6  7]
 [ 9 10]
 [12 13]
 [15 16]
 [18 19]]